img{
    width: 100%;
}
#no{
width: 50px;
user-select: none;
position: absolute;
}
.wrapper{
    background-color: #e6e6ce;
    height: 80vh;
    width: 80%;
    margin: auto;
    position: relative;
}
h2, p{
text-align: center;
}
body{
    background-color: #e6e6ce;
}