.text{
    text-align: center;
    padding-top: 100px;
}
body{
    margin: 0;
}
img{
    width: 100%;
    border-radius: 9%;
}
h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 60px;
}
.red{
    color: red;
}
.full{
    text-align: left;
    font-size: 20px;
}


.text-info{
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#select-left{
    text-align: center;
    
width: 100%;   
font-size: 20px; 
margin-bottom: 16px;



position: relative;
  text-decoration: none;
  /* color: #000000; */
  background: linear-gradient(45deg, #0ce39a, #e0c4e6, #fc0987);
  padding: 14px 25px;
  border-radius: 10px;
  font-size: 1.25em;
  cursor: pointer;
}
#select-left span {
  position: relative;
  z-index: 1;
}
#select-left::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: #272727;
  border-radius: 9px;
  transition: 0.5s;
}
#select-left:hover::before {
  opacity: 0.7;
}
#select-left::after {
  content: "";
  position: absolute;
  inset: 0px;
  background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  border-radius: 9px;
  transition: 0.5s;
  opacity: 0;
  filter: blur(20px);
}



.text-info
{
    font-size: 20px;
    font-weight: 700;
    /* border:4px solid Violet; */
    width: 17px;
    margin-left: 15px;
    
}
option{

}
option:checked {
  font-weight: bold;
 
}
h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(4, 101, 153);
}
.text-info img{width: 500px;}
.info{
    text-align: center;
}
.procesor-left{
    width: 80%;
    margin: auto;
    display: block;
}
.footer{
    background-color: #3d3d3d;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #f8f1f9;
    margin-top: 20px;
}